.App {
  text-align: center;
  /* display: grid;
  grid-template-areas: 
    "nav nav"
    "projects map"
    "projects map";
  grid-template-columns: 70% 1fr;
  grid-template-rows: 80px 1fr; */
}

.project {
  border-style: solid;
  padding: 5%;
}

body {
  background-image: url("https://i.pinimg.com/originals/4f/df/4f/4fdf4f68284ab4a4c55957ad96bb941a.jpg");
  background-attachment: fixed;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  height: 100%;
  min-height: 100%;
}

nav {
  grid-area: nav;
  display: flex;
  justify-content: space-around;
  padding: 15px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
}

.grid {
  display: grid;
  grid-template-areas: "projects map";
  height: 100vh;
  /* grid-auto-columns: 70fr 30fr; */
  grid-template-columns: 40vw 60vw;
}

#map {
  grid-area: map;
  position: sticky;
}

#sidebar {
  grid-area: projects;
  /* /* height: 100vh; */
  /* overflow: scroll;  */
}

.project {
  color: white;
}

.projects {
  height: 80vh;
  overflow: scroll;
}






