.App {
  text-align: center;
  /* display: grid;
  grid-template-areas: 
    "nav nav"
    "projects map"
    "projects map";
  grid-template-columns: 70% 1fr;
  grid-template-rows: 80px 1fr; */
}

body {
  background-image: url("https://i.pinimg.com/originals/4f/df/4f/4fdf4f68284ab4a4c55957ad96bb941a.jpg");
  background-attachment: fixed;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  height: 100%;
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

nav {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
  color: blue;
  align-items: center;
  font-size: 18px;
}

nav > a {
  margin-right: 5%;
  margin-left: 5%;
}

.homegrid {
  display: grid;
  grid-template-areas: "projects map";
  height: 100vh;
  grid-template-columns: 60vw 40vw;
}

#map {
  grid-area: map;
  margin: 2%;
  position: sticky; 
}

#sidebar {
  grid-area: projects;
}

.project {
  color: white;
  display: flex;
  margin: 2%;
  border-style: outset;
  background-color: rgba(0, 0, 0, .85);
  border-radius: 5px;  
}


.project:hover {
  transform: scale(1.07)
} 

.projects {
  height: 95vh;
  overflow: scroll;
  
}

.usercharts {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.searchForm {
  margin: 2%;
}

.projectshowgrid {
  display: grid;
  grid-template-areas: "projectimages projectinfo";
  height: 100vh;
  grid-template-columns: 60vw 40vw;
}

#projectimages {
  grid-area: projectimages;
  margin: 2%;
  color: white;
  height: 95vh;
  
}

body > li {
  margin: 2%;
  color: white; 
}

#projectinfo {
  grid-area: projectinfo;
  margin: 2%;
  margin-right: 5vw;
  color: white;
  border-style: outset;
  background-color: rgba(0, 0, 0, .85);
  height: 80vh;
  font-size: larger;
  border-radius: 10px;
  
}

a {
  text-decoration: none;
}

span {
  color: blue;
}

.searchForm {
  display: flex;
  justify-content: space-around;
}

.percent {
  border-style: outset;
  background-color: rgba(0, 0, 0, .85);
  height: 40vh;
  border-radius: 10px;
}

.percent > ul > li {
  padding-top: 5px;
  padding-bottom: 6px;
  font-size: 24px;
}

.percent > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 9vw;
  overflow: scroll;
  height: 25vh;
}

input {
  text-align: center;
}

.userShow > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 25vh;
  overflow: scroll;
  margin-left: 25vw;
  margin-right: 25vw;
  padding-left: 7vw;
  border-style: outset;
  background-color: rgba(0, 0, 0, .85);
}

.userInvestments > li {
  padding-top: 6px;
  padding-bottom: 5px;
  font-size: 24px;
}

.userHeader {
  border-style: outset;
  background-color: rgba(0, 0, 0, .85);
}











